{{> head}}
{{> navbar}}
<main class="main page page--search"> 
   <div class="hero">
       <h1>{{ translate 'search.title' }}</h1>
   </div>
   <div class="main__content">       
        {{{@customSearchContent}}} 
   </div>
</main>
{{> footer}}
